* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
body {
   background-color: #eeeef7;
}
.header{
    display:flex;
    justify-content:space-between;
    padding: 20px 60px 10px 0px;
    background-color: #31343d;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    
   }
.header h1{
   font-size: 38px;
}
.h2-sub{
text-align: left;
padding-left: 25% ;
word-wrap: normal;
background-color: #5b2548;
}
.bgcolor{
background-color:#87bdc0 ;
color:#31343d;
text-decoration: none;
   }
 
 nav a:link, a:visited { 
    color:#87bdc0;
    text-decoration: none;
   }
.nav-title{
   display: flex;
   justify-content: space-around;
   color:#87bdc0;
   font-size: 16px;
   text-decoration: underline;
   list-style: none;
   font-family: Helvetica, Arial, sans-serif;
 }
li{
display:inline-block;
list-style-type: none;
text-align: center;
padding: 5px;
font-size: 16px;
color:#87bdc0;
text-decoration: underline;
font-family: Helvetica, Arial, sans-serif;
 }
 
.subtitle{
  position: relative;
  text-align: center;
  color: white;
 }
  .image{
   display:block;
   margin:0px;
    }
.center-right {
      position: absolute;
      top: 55%;
      right: 16px;
      font-family: Arial, Helvetica, sans-serif;
      }
     
    /*to create a veritcal line in the about, wor and contact section*/

 .column {
      float: left;
      transition: flex-basis 500ms linear;
      margin-bottom: 1.5rem;
       }
  .columnalign{
   column-count:2;
   column-gap:20px;
  }  
 .left {
      width: 10%;
      text-align: right;
      padding-right: 5px;

    }
    
 .right {
      width: 80%;
      border-left: 4px solid #6d7d96;
      min-height: 100px;
      max-height: 100%;
      left: 10%;
      padding-left: 10px;
      top: 0;
    }
 .row {
   clear: both;
   padding: 30px 0px 0px 0px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   margin-left: -1.5rem;
   margin-right: -1.5rem;

      
    }
    .h2-style{
      font-family: monospace;
      text-indent: 10px;
      font-size: 28px;
      text-align: right;
      display:inline-flex; 

      }

#content{
   display:flex;
   justify-content: space-around;
   flex-flow: row wrap;
   align-items: stretch;
   border:#97ced0
  }
/* Work section*/
  .flex-container {
   display: flex;
   flex-wrap: wrap;
   background-color:#eeeef7;
   margin:5px;
   
      
 }
  .surf-report{
   background-color: #8492a1;
   width: 95%;
   line-height: 300px;
   margin: 5px;
   text-align:left;
   font-size: 30px; 
   border:2px solid aqua;
   
  }
 .work-items{
   width: 47%;
   line-height: 100px;
   margin: 5px;
   text-align:left;
   font-size: 30px;
   background-color: #97ced0;
   border:2px solid aqua;
 }
 
 #contact-me{
   padding-bottom: 10px;
	padding-top: 30px;
   justify-content: space-around;
	text-align: center;
  	bottom: 0px;
	width: 100%;
 }

.breakword{
   word-wrap: break-word;
}

.div-h{
  width: 70%;
  word-wrap:normal;
  text-align: right;
  background-color:#eeeef7;

}

@media screen and (max-width: 992px) {
   .flex-container {
     width: 50%;
   }
   /* Change the header color */
   header {
     background: #772014;
   }
 }
 @media screen and (max-width: 768px) {
   .flex-container {
     width: 100%;
   }
   /* Change the header color */
   header {
     background: #8ac4ff;
   }
 }
 